
 
.About{
 
    background-image: url('../assets/back.jpg');
    height: 100vh;
    background-size:100vh ;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x:right ;


    
       
.divek{
   
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 40vw;
  h1{
      margin: 16px;
      margin-top: 64px;
      padding-left: 128px;
      padding-top: 128px;
     
  }
  p{
      padding-left: 128px;
      

  }

}

.but{
    margin-left: 20vw;
  }
    

}
