@mixin backgroundPicture {
    height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    display: grid;
    justify-content: right;
    align-items: center;
}
$fontColorWhite: 'white'
