.Pricing{
    margin: 0;
    border: solid 1px #ccc;
    height: 100vh;
    display: grid;
    align-items: center;
    background-image: url('../assets/greyBelly.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position-y: center;
    main{
        
        background-color: whitesmoke;
        border-radius: 1rem;
        
        
        
    }
}
